/** Some temporary css to adjust the currently used Simple theme **/

.header {
    display: none;
}

.main .inner {
    padding-left: 10px !important;
    padding-right: 10px !important;

}



.breadcrumb {
    font-weight: bold;
    margin-bottom: 10px;
}

form.botanical-mapping {
    min-width: 300px;
    max-width: 800px;
    width: 100%;
}

form.botanical-mapping .ss-gridfield-buttonrow .right {
    clear: left;
}

form.botanical-mapping .ss-gridfield-editable td .editable-column-field {
    padding-left: 0;
    padding-right: 0;

}

form.botanical-mapping .ss-gridfield-table .col-LastRecordedTotalHeight,
form.botanical-mapping .ss-gridfield-table .col-LastRecordedCrownHeight,
form.botanical-mapping .ss-gridfield-table .col-LastRecordedDiameter {
    display:none;
}

form.botanical-mapping .ss-gridfield-table td.col-GeoLocation {
    max-width: 250px;
    padding-right: 15px;
}

form.botanical-mapping .ss-gridfield-table td.col-Number input.text {
    width: 40px !important;
    max-width: 50px !important;
}

form.botanical-mapping .ss-gridfield-table td.col-buttons .ss-gridfield-delete-inline {
    display: none;
}

form.botanical-mapping .ss-gridfield-table .action.edit-link {
    background-image:url('../../silverstripe-botanical-mapping/images/edit_icon.png');
    display:block;
    height:32px;
    width: 32px;
    background-size: contain;
    text-indent:-9999px;
    border-bottom: 1px solid transparent;
}

.float-none {
    float: none !important;
}

#map #tooltip {
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

#map #tooltip a {
    color: #000;
}